*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#020617;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.auth-container{
  width:100%;
  max-width:400px;
  padding:20px;
}

.auth-card{
  background:#111827;
  padding:40px;
  border-radius:20px;
}

.auth-card h2{
  color:white;
  text-align:center;
  margin-bottom:30px;
}

.auth-card input{
  width:100%;
  padding:15px;
  margin-bottom:20px;
  border:none;
  border-radius:10px;
}

.auth-card button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

.auth-card p{
  color:#cbd5e1;
  text-align:center;
  margin-top:20px;
}

.auth-card a{
  color:#3b82f6;
}