*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
  min-height:100vh;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
}

.logo{
  font-size:28px;
  font-weight:bold;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.hero{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  padding:20px;
}

.glass-card{
  width:100%;
  max-width:700px;
  padding:40px;
  border-radius:20px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  text-align:center;
}

.glass-card h1{
  font-size:48px;
  margin-bottom:20px;
}

.glass-card p{
  margin-bottom:30px;
  color:#cbd5e1;
}

.download-box{
  display:flex;
  gap:10px;
}

.download-box input{
  flex:1;
  padding:15px;
  border:none;
  border-radius:10px;
}

.download-box button,
button{
  padding:15px 25px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

.dashboard,
.history-page,
.premium-page{
  padding:40px;
}

#mediaPreview img{
  width:100%;
  margin-top:20px;
  border-radius:15px;
}

.history-card{
  background:#1e293b;
  padding:20px;
  margin-top:20px;
  border-radius:12px;
}

.premium-card{
  max-width:500px;
  margin:auto;
  background:#1e293b;
  padding:40px;
  border-radius:20px;
  text-align:center;
}

.premium-card ul{
  list-style:none;
  margin:30px 0;
}

.premium-card li{
  margin-bottom:15px;
}

@media(max-width:768px){

  .download-box{
    flex-direction:column;
  }

  .glass-card h1{
    font-size:32px;
  }

  .navbar{
    flex-direction:column;
    gap:20px;
  }

}